<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="76e6b0">  <td>21/07/17 18:16:34</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;HomePageTest.setUp()[pri:0, instance:tests.HomePageTest@3ce1e309]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@611557499</td>   <td></td> </tr>
<tr bgcolor="76e6b0">  <td>21/07/17 18:16:41</td>   <td>6502</td> <td>&nbsp;</td><td title="&lt;&lt;HomePageTest.tearDown()[pri:0, instance:tests.HomePageTest@3ce1e309]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@611557499</td>   <td></td> </tr>
<tr bgcolor="76e6b0">  <td>21/07/17 18:16:41</td>   <td>6357</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.homePageValidation()[pri:0, instance:tests.HomePageTest@3ce1e309]">homePageValidation</td> 
  <td>TestNG-tests-1@611557499</td>   <td></td> </tr>
<tr bgcolor="67db7f">  <td>21/07/17 18:16:44</td>   <td>9854</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.validateLoginPage(java.lang.String,java.lang.String)[pri:0, instance:tests.LoginPageTest@223d2c72]">validateLoginPage</td> 
  <td>TestNG-tests-2@941095687</td>   <td></td> </tr>
<tr bgcolor="67db7f">  <td>21/07/17 18:16:34</td>   <td>6</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:tests.LoginPageTest@223d2c72]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@941095687</td>   <td></td> </tr>
<tr bgcolor="67db7f">  <td>21/07/17 18:16:44</td>   <td>9854</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.validateLoginPage(java.lang.String,java.lang.String)[pri:0, instance:tests.LoginPageTest@223d2c72]">validateLoginPage</td> 
  <td>TestNG-tests-2@941095687</td>   <td></td> </tr>
<tr bgcolor="67db7f">  <td>21/07/17 18:16:47</td>   <td>12188</td> <td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:tests.LoginPageTest@223d2c72]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@941095687</td>   <td></td> </tr>
</table>
